<header
  class="ud-fixed ud-left-0 ud-top-0 ud-w-full ud-z-99999 ud-py-7"
  :class="{ 'ud-bg-white dark:ud-bg-black ud-shadow !ud-py-4 ud-transition ud-duration-100' : stickyMenu }"
  @scroll.window="stickyMenu = (window.pageYOffset > 20) ? true : false"
>
  <div class="ud-mx-auto ud-max-w-c-1390 ud-px-4 md:ud-px-8 2xl:ud-px-0 lg:ud-flex ud-items-center ud-justify-between ud-relative">
    <div class="ud-w-full lg:ud-w-1/4 ud-flex ud-items-center ud-justify-between">
      <a href="index.html">
        <img class="dark:ud-hidden" src="./images/logo/logo-light.svg" alt="Logo Light" />
        <img class="ud-hidden dark:ud-block" src="./images/logo/logo-dark.svg" alt="Logo Dark" />
      </a>

      <!-- Hamburger Toggle BTN -->
      <button class="lg:ud-hidden ud-block" @click="navigationOpen = !navigationOpen">
        <span class="ud-block ud-relative ud-cursor-pointer ud-w-5.5 ud-h-5.5">
          <span class="ud-block ud-absolute ud-w-full ud-h-full">
            <span
              class="ud-block ud-relative ud-top-0 ud-left-0 ud-bg-black dark:ud-bg-white ud-rounded-sm ud-w-0 ud-h-0.5 ud-my-1 ud-ease-in-out ud-duration-200 ud-delay-[0]"
              :class="{ '!ud-w-full ud-delay-300': !navigationOpen }"
            ></span>
            <span
              class="ud-block ud-relative ud-top-0 ud-left-0 ud-bg-black dark:ud-bg-white ud-rounded-sm ud-w-0 ud-h-0.5 ud-my-1 ud-ease-in-out ud-duration-200 ud-delay-150"
              :class="{ '!ud-w-full ud-delay-400': !navigationOpen }"
            ></span>
            <span
              class="ud-block ud-relative ud-top-0 ud-left-0 ud-bg-black dark:ud-bg-white ud-rounded-sm ud-w-0 ud-h-0.5 ud-my-1 ud-ease-in-out ud-duration-200 ud-delay-200"
              :class="{ '!ud-w-full ud-delay-500': !navigationOpen }"
            ></span>
          </span>
          <span class="ud-block ud-absolute ud-w-full ud-h-full ud-rotate-45">
            <span
              class="ud-block ud-bg-black dark:ud-bg-white ud-rounded-sm ud-ease-in-out ud-duration-200 ud-delay-300 ud-absolute ud-left-2.5 ud-top-0 ud-w-0.5 ud-h-full"
              :class="{ 'ud-h-0 ud-delay-[0]': !navigationOpen }"
            ></span>
            <span
              class="ud-block ud-bg-black dark:ud-bg-white ud-rounded-sm ud-ease-in-out ud-duration-200 ud-delay-400 ud-absolute ud-left-0 top-2.5 ud-w-full ud-h-0.5"
              :class="{ 'ud-h-0 ud-delay-200': !navigationOpen }"
            ></span>
          </span>
        </span>
      </button>
      <!-- Hamburger Toggle BTN -->
    </div>

    <div
      class="ud-w-full lg:w-3/4 ud-h-0 lg:ud-h-auto ud-invisible lg:ud-visible lg:ud-flex ud-items-center ud-justify-between"
      :class="{ '!ud-visible ud-bg-white dark:ud-bg-blacksection ud-shadow-solid-5 ud-h-auto ud-max-h-[400px] ud-overflow-y-scroll ud-rounded-md ud-mt-4 ud-p-7.5': navigationOpen }"
    >
      <nav>
        <ul class="ud-flex lg:ud-items-center ud-flex-col lg:ud-flex-row ud-gap-5 lg:ud-gap-10">
          <li><a href="index.html" class="hover:ud-text-primary" :class="{ 'ud-text-primary': page === 'home' }">Home</a></li>
          <li><a href="index.html#features" class="hover:ud-text-primary">Features</a></li>
          <li class="ud-group ud-relative" x-data="{ dropdown: false }">
            <a
              href="#"
              class="hover:ud-text-primary ud-flex ud-items-center ud-justify-between ud-gap-3"
              @click.prevent="dropdown = !dropdown"
              :class="{ 'ud-text-primary': page === 'blog-grid' || page === 'blog-single' || page === 'signin' || page === 'signup' || page === '404' }"
            >
              Pages

              <svg :class="{ 'ud-fill-primary': dropdown }" class="ud-fill-waterloo group-hover:ud-fill-primary ud-w-3 ud-h-3 ud-cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
              </svg>
            </a>

            <!-- Dropdown Start -->
            <ul class="dropdown" :class="{ 'ud-flex': dropdown }">
              <li><a href="blog-grid.html" class="hover:ud-text-primary" :class="{ 'ud-text-primary': page === 'blog-grid' }">Blog Grid</a></li>
              <li><a href="blog-single.html" class="hover:ud-text-primary" :class="{ 'ud-text-primary': page === 'blog-single' }">Blog Single</a></li>
              <li><a href="signin.html" class="hover:ud-text-primary" :class="{ 'ud-text-primary': page === 'signin' }">Sign In</a></li>
              <li><a href="signup.html" class="hover:ud-text-primary" :class="{ 'ud-text-primary': page === 'signup' }">Sign Up</a></li>
              <li><a href="404.html" class="hover:ud-text-primary" :class="{ 'ud-text-primary': page === '404' }">404</a></li>
            </ul>
            <!-- Dropdown End -->
          </li>
          <li><a href="index.html#support" class="hover:ud-text-primary">Support</a></li>
        </ul>
      </nav>

      <div class="ud-flex ud-items-center ud-gap-6 ud-mt-7 lg:ud-mt-0">
        <div class="ud-mr-1.5 ud-absolute lg:ud-static top-1 ud-right-17" :class="navigationOpen ? '!ud-visible' : '!ud-visible'">
          <label class="ud-block m-0 ud-relative">
            <input type="checkbox" :value="darkMode" @change="darkMode = !darkMode" class="ud-cursor-pointer ud-w-full ud-h-full ud-opacity-0 ud-absolute ud-top-0 ud-z-50 ud-m-0" />
            <img class="dark:ud-hidden" src="./images/icon/icon-sun.svg" alt="Sun" />
            <img class="ud-hidden dark:ud-block" src="./images/icon/icon-moon.svg" alt="Moon" />
          </label>
        </div>

        <a href="signin.html" class="ud-text-waterloo ud-text-regular ud-font-medium hover:ud-text-primary">Sign In</a>
        <a
          href="#"
          class="ud-flex ud-items-center ud-justify-center ud-bg-primary hover:ud-bg-primaryho ud-ease-in-out ud-duration-300 ud-text-white ud-text-regular ud-rounded-full ud-py-2.5 ud-px-7.5"
          >Download</a
        >
      </div>
    </div>
  </div>
</header>
