<div class="ud-bg-zumthor dark:ud-bg-blacksection dark:ud-border dark:ud-border-strokedark ud-inline-block ud-rounded-full ud-py-1.5 ud-px-4.5 ud-mb-4">
  <h4 x-text="sectionTitle" class="ud-font-medium ud-text-sectiontitle ud-text-black dark:ud-text-white"></h4>
</div>
<h2 x-text="sectionSubtitle" class="ud-font-bold ud-text-3xl xl:ud-text-sectiontitle3 ud-text-black dark:ud-text-white md:ud-w-4/5 xl:ud-w-1/2 ud-mx-auto ud-mb-4"></h2>
<p class="ud-mx-auto md:ud-w-4/5 lg:ud-w-3/5 xl:ud-w-[46%]" x-text="sectionTitlePara"></p>
