@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* third-party libraries CSS */

.testimonial-01 .swiper-pagination-bullet {
  @apply ud-w-2.5 ud-h-2.5 ud-bg-stroke ud-opacity-100;
}
.testimonial-01 .swiper-pagination-bullet-active {
  @apply ud-bg-primary ud-w-5 ud-rounded-full;
}

#supportCheckbox:checked ~ div span {
  @apply ud-opacity-100;
}

@layer base {
  body {
    @apply ud-font-inter ud-font-normal ud-text-regular ud-text-waterloo ud-relative dark:ud-text-manatee ud-z-1;
  }
}

@layer components {
  .dropdown {
    @apply ud-flex-col ud-gap-4 ud-min-w-max lg:ud-w-[250px] ud-mt-2 lg:ud-mt-0 ud-bg-white dark:ud-bg-black ud-border ud-border-stroke dark:ud-border-strokedark ud-shadow-solid-13 ud-ease-in ud-duration-300 ud-px-8 ud-py-5 ud-rounded-md -ud-left-7.5 ud-hidden
    lg:ud-translate-y-10 lg:ud-opacity-0 lg:ud-invisible lg:ud-absolute lg:ud-flex
    lg:before:ud-absolute lg:before:-ud-top-1.5 lg:before:ud-left-10 lg:before:ud-w-3 lg:before:ud-h-3 lg:before:ud-border-l lg:before:ud-border-t lg:before:ud-border-stroke lg:dark:before:ud-border-strokedark lg:before:ud-bg-white lg:dark:before:ud-bg-black lg:before:ud-rotate-45 
    lg:group-hover:ud-translate-y-6.5 lg:group-hover:ud-opacity-100 lg:group-hover:ud-visible;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .img-white {
    filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(249deg) brightness(100%) contrast(105%);
  }
}
