/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/css/style.css ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/swiper/swiper.min.css ***!
  \********************************************************************************************************************************/
/**
 * Swiper 8.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: September 15, 2022
 */

@font-face{font-family:swiper-icons;src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-pointer-events{touch-action:pan-y}.swiper-pointer-events.swiper-vertical{touch-action:pan-x}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-autoheight,.swiper-autoheight .swiper-slide{height:auto}.swiper-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-backface-hidden .swiper-slide{transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-3d,.swiper-3d.swiper-css-mode .swiper-wrapper{perspective:1200px}.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top,.swiper-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-3d .swiper-slide-shadow{background:rgba(0,0,0,.15)}.swiper-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-horizontal.swiper-css-mode>.swiper-wrapper{-ms-scroll-snap-type:x mandatory;scroll-snap-type:x mandatory}.swiper-vertical.swiper-css-mode>.swiper-wrapper{-ms-scroll-snap-type:y mandatory;scroll-snap-type:y mandatory}.swiper-centered>.swiper-wrapper::before{content:'';flex-shrink:0;order:9999}.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child{-webkit-margin-start:var(--swiper-centered-offset-before);margin-inline-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-horizontal>.swiper-wrapper::before{height:100%;min-height:1px;width:var(--swiper-centered-offset-after)}.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child{-webkit-margin-before:var(--swiper-centered-offset-before);margin-block-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-vertical>.swiper-wrapper::before{width:100%;min-width:1px;height:var(--swiper-centered-offset-after)}.swiper-centered>.swiper-wrapper>.swiper-slide{scroll-snap-align:center center}
/*!*******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/swiper/modules/pagination/pagination.min.css ***!
  \*******************************************************************************************************************************************************/
.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-pagination-disabled>.swiper-pagination,.swiper-pagination.swiper-pagination-disabled{display:none!important}.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));display:inline-block;border-radius:50%;background:var(--swiper-pagination-bullet-inactive-color,#000);opacity:var(--swiper-pagination-bullet-inactive-opacity, .2)}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet:only-child{display:none!important}.swiper-pagination-bullet-active{opacity:var(--swiper-pagination-bullet-opacity, 1);background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-pagination-vertical.swiper-pagination-bullets,.swiper-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:var(--swiper-pagination-bullet-vertical-gap,6px) 0;display:block}.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 var(--swiper-pagination-bullet-horizontal-gap,4px)}.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-horizontal>.swiper-pagination-progressbar,.swiper-pagination-progressbar.swiper-pagination-horizontal,.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,.swiper-pagination-progressbar.swiper-pagination-vertical,.swiper-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-lock{display:none}
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/css/style.css (1) ***!
  \*******************************************************************************************************************/
/*
! tailwindcss v3.1.8 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

.hero_image {
  background-image: url('images/home_transparent_2.png');
  background-size: contain; /* Scale the image to fit the content box, might show some background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image within the section */
  height: 750px;
}

.hero_center-text {
  text-align: center;
  width: 50%; /* This constrains the text container to 50% of its parent's width */
  margin: 0 auto; /* Centers the container */
  border: 1px solid transparent; /* Adds a border around the container for visualization */
  }

  p.hero_center-text {
    /* Additional styling to target only the <p> tag with 'hero_center-text' class, if needed */
    margin-top: 20px; /* This increases space above the <p>, pushing it downwards. Adjust as needed. */
  }

  .gap-padding {
    display: block; /* Makes the span behave like a block-level element, allowing margin */
    margin-top: 175px; /* Adjust the value as needed to increase/decrease space */
  }

.hero_text {
    margin-top: 300px; /* Offset the text 50px down from the top of the container */
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

body{
  position: relative;
  z-index: 1;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(117 118 147 / var(--tw-text-opacity));
}

.a body{
  --tw-text-opacity: 1;
  color: rgb(153 154 161 / var(--tw-text-opacity));
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.dropdown{
  left: -1.875rem;
  margin-top: 0.5rem;
  display: none;
  min-width: -moz-max-content;
  min-width: max-content;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  --tw-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0px 2px 19px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.a .dropdown{
  --tw-border-opacity: 1;
  border-color: rgb(45 47 64 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(24 28 49 / var(--tw-bg-opacity));
}
@media (min-width: 1024px){

  .dropdown{
    visibility: hidden;
    position: absolute;
    margin-top: 0px;
    display: flex;
    width: 250px;
    --tw-translate-y: 2.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0;
  }

  .dropdown::before{
    position: absolute;
    top: -0.375rem;
    left: 2.5rem;
    height: 0.75rem;
    width: 0.75rem;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-left-width: 1px;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(238 238 238 / var(--tw-border-opacity));
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .b:hover .dropdown{
    visibility: visible;
    --tw-translate-y: 1.625rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 1;
  }

  .a .dropdown::before{
    --tw-border-opacity: 1;
    border-color: rgb(45 47 64 / var(--tw-border-opacity));
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(24 28 49 / var(--tw-bg-opacity));
  }
}
.\!dropdown{
  left: -1.875rem;
  margin-top: 0.5rem;
  display: none;
  min-width: -moz-max-content;
  min-width: max-content;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  --tw-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0px 2px 19px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.a .\!dropdown{
  --tw-border-opacity: 1;
  border-color: rgb(45 47 64 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(24 28 49 / var(--tw-bg-opacity));
}
@media (min-width: 1024px){

  .\!dropdown{
    visibility: hidden;
    position: absolute;
    margin-top: 0px;
    display: flex;
    width: 250px;
    --tw-translate-y: 2.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0;
  }

  .\!dropdown::before{
    position: absolute;
    top: -0.375rem;
    left: 2.5rem;
    height: 0.75rem;
    width: 0.75rem;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-left-width: 1px;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(238 238 238 / var(--tw-border-opacity));
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .b:hover .\!dropdown{
    visibility: visible;
    --tw-translate-y: 1.625rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 1;
  }

  .a .\!dropdown::before{
    --tw-border-opacity: 1;
    border-color: rgb(45 47 64 / var(--tw-border-opacity));
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(24 28 49 / var(--tw-bg-opacity));
  }
}
.c{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.d{
  visibility: visible !important;
}
.e{
  visibility: hidden;
}
.f{
  position: fixed;
}
.g{
  position: absolute;
}
.h{
  position: relative;
}
.i{
  top: 0px;
}
.j{
  right: 0px;
}
.-ud-left-11\.5{
  left: -2.875rem;
}
.-ud-left-11{
  left: -2.75rem;
}
.k{
  bottom: 0px;
}
.-ud-right-6\.5{
  right: -1.625rem;
}
.-ud-right-6{
  right: -1.5rem;
}
.-ud-top-25{
  top: -6.25rem;
}
.-ud-left-15{
  left: -3.75rem;
}
.l{
  left: 0px;
}
.-ud-top-3\/4{
  top: -75%;
}
.-ud-bottom-7\.5{
  bottom: -1.875rem;
}
.-ud-bottom-7{
  bottom: -1.75rem;
}
.-ud-bottom-15{
  bottom: -3.75rem;
}
.m{
  top: 1.875rem;
}
.-ud-right-3\.5{
  right: -0.875rem;
}
.n{
  top: 1.75rem;
}
.-ud-right-3{
  right: -0.75rem;
}
.o{
  bottom: 1.25rem;
}
.p{
  bottom: 4.375rem;
}
.q{
  bottom: 4.25rem;
}
.r{
  left: 0.625rem;
}
.s{
  left: 0.5rem;
}
.t{
  right: 4.25rem;
}
.u{
  bottom: 2rem;
}
.v{
  right: 2rem;
}
.w{
  z-index: 1;
}
.-ud-z-1{
  z-index: -1;
}
.x{
  z-index: 50;
}
.y{
  z-index: 99999;
}
.-ud-z-10{
  z-index: -10;
}
.z{
  z-index: 999;
}
._{
  margin: 0px;
}
.aa{
  margin-left: auto;
  margin-right: auto;
}
.ba{
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}
.ca{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.da{
  margin-bottom: 1.875rem;
}
.ea{
  margin-bottom: 1.75rem;
}
.fa{
  margin-bottom: 1.25rem;
}
.ga{
  margin-top: 3.75rem;
}
.ha{
  margin-top: 1.875rem;
}
.ia{
  margin-bottom: 0.875rem;
}
.ja{
  margin-top: 1.75rem;
}
.ka{
  margin-bottom: 0.75rem;
}
.la{
  margin-top: 2.5rem;
}
.ma{
  margin-bottom: 2.5rem;
}
.na{
  margin-top: 2.75rem;
}
.oa{
  margin-bottom: 2.25rem;
}
.pa{
  margin-bottom: 2rem;
}
.qa{
  margin-bottom: 1.125rem;
}
.ra{
  margin-bottom: 1rem;
}
.sa{
  margin-top: 1.25rem;
}
.ta{
  margin-top: 3.125rem;
}
.ua{
  margin-top: 3rem;
}
.va{
  margin-right: 1rem;
}
.wa{
  margin-bottom: 1.5rem;
}
.xa{
  margin-bottom: 0.125rem;
}
.ya{
  margin-bottom: 0px;
}
.za{
  margin-bottom: 3.75rem;
}
._a{
  margin-bottom: 3.125rem;
}
.ab{
  margin-bottom: 3rem;
}
.bb{
  margin-bottom: 0.625rem;
}
.cb{
  margin-bottom: 0.5rem;
}
.db{
  margin-top: 6.25rem;
}
.eb{
  margin-bottom: 0.375rem;
}
.fb{
  margin-bottom: 0.25rem;
}
.gb{
  margin-top: 2.25rem;
}
.hb{
  margin-bottom: 2.875rem;
}
.ib{
  margin-bottom: 2.75rem;
}
.jb{
  margin-top: 0.25rem;
}
.kb{
  margin-top: 1rem;
}
.lb{
  margin-right: 0.375rem;
}
.mb{
  margin-right: 0.25rem;
}
.nb{
  display: block;
}
.ob{
  display: inline-block;
}
.pb{
  display: flex;
}
.qb{
  display: flex !important;
}
.rb{
  display: inline-flex;
}
.sb{
  display: grid;
}
.tb{
  display: none;
}
.ub{
  height: 1.875rem;
}
.vb{
  height: 1.75rem;
}
.wb{
  height: 4rem;
}
.xb{
  height: 3.75rem;
}
.yb{
  height: 3.125rem;
}
.zb{
  height: 3rem;
}
._b{
  height: 11px;
}
.ac{
  height: 15px;
}
.bc{
  height: 23px;
}
.cc\/3{
  height: 66.666667%;
}
.dc\/3{
  height: 33.333333%;
}
.ec{
  height: 1.25rem;
}
.fc{
  height: 1.375rem;
}
.gc{
  height: 100%;
}
.hc{
  height: 0.125rem;
}
.ic{
  height: 0px;
}
.jc{
  height: auto;
}
.kc{
  height: 0.75rem;
}
.lc{
  height: 2.5rem;
}
.mc{
  max-height: 400px;
}
.nc{
  width: 1.875rem;
}
.oc{
  width: 1.75rem;
}
.pc{
  width: 100%;
}
.qc{
  width: 4rem;
}
.rc{
  width: 3.75rem;
}
.sc\/4{
  width: 75%;
}
.tc{
  width: 3.125rem;
}
.uc{
  width: 3rem;
}
.vc\/12{
  width: 91.666667%;
}
.wc\/6{
  width: 16.666667%;
}
.xc{
  width: 11px;
}
.yc{
  width: 15px;
}
.zc{
  width: 23px;
}
._c{
  width: 1.25rem;
}
.wc\/2{
  width: 50%;
}
.ad{
  width: 90%;
}
.bd{
  width: 1.375rem;
}
.cd{
  width: 0px;
}
.dd{
  width: 100% !important;
}
.ed{
  width: 0.125rem;
}
.sc{
  width: 0.75rem;
}
.fd{
  width: 1px;
}
.gd{
  width: 2.5rem;
}
.hd{
  max-width: 518px;
}
.id{
  max-width: 80rem;
}
.jd{
  max-width: 86.875rem;
}
.kd{
  max-width: 82.188rem;
}
.ld{
  max-width: 77.188rem;
}
.md{
  max-width: 72.125rem;
}
.nd{
  max-width: 1207px;
}
.od{
  max-width: 425px;
}
.pd{
  max-width: 63.5rem;
}
.-ud-rotate-90{
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.qd{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes ud-line{

  0%, 100%{
    transform: translateY(100%);
  }

  50%{
    transform: translateY(0);
  }
}
.rd{
  animation: ud-line 3s linear infinite;
}
@keyframes ud-line{

  0%, 100%{
    transform: translateY(100%);
  }

  50%{
    transform: translateY(0);
  }
}
.sd{
  animation: ud-line 6s linear infinite;
}
@keyframes ud-line{

  0%, 100%{
    transform: translateY(100%);
  }

  50%{
    transform: translateY(0);
  }
}
.td{
  animation: ud-line 9s linear infinite;
}
.ud{
  cursor: pointer;
}
.vd{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wd{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.xd{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.yd{
  flex-direction: column;
}
.zd{
  flex-direction: column-reverse;
}
._d{
  flex-wrap: wrap;
}
.ae{
  align-items: center;
}
.be{
  justify-content: flex-end;
}
.ce{
  justify-content: center;
}
.de{
  justify-content: space-between;
}
.ee{
  justify-content: space-around;
}
.fe{
  gap: 0.625rem;
}
.ge{
  gap: 0.5rem;
}
.he{
  gap: 1.875rem;
}
.ie{
  gap: 1.75rem;
}
.je{
  gap: 0.875rem;
}
.ke{
  gap: 0.75rem;
}
.le{
  gap: 1rem;
}
.me{
  gap: 1.25rem;
}
.ne{
  gap: 2.5rem;
}
.oe{
  gap: 1.5rem;
}
.pe{
  gap: 2rem;
}
.qe{
  row-gap: 2.5rem;
}
.re{
  overflow: hidden;
}
.se{
  overflow-y: scroll;
}
.te{
  border-radius: 9999px;
}
.ue{
  border-radius: 0.5rem;
}
.ve{
  border-radius: 4px;
}
.we{
  border-radius: 0.375rem;
}
.xe{
  border-radius: 50%;
}
.ye{
  border-radius: 10px;
}
.ze{
  border-radius: 0.25rem;
}
._e{
  border-radius: 0.125rem;
}
.af{
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.bf{
  border-top-left-radius: 9999px;
}
.cf{
  border-bottom-left-radius: 9999px;
}
.df{
  border-width: 1px;
}
.ef{
  border-left-width: 0px;
  border-right-width: 0px;
}
.ff{
  border-bottom-width: 1px;
}
.gf{
  border-top-width: 1px;
}
.hf{
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity));
}
.if{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.jf{
  --tw-border-opacity: 1;
  border-color: rgb(45 47 64 / var(--tw-border-opacity));
}
.kf{
  --tw-border-opacity: 1;
  border-top-color: rgb(238 238 238 / var(--tw-border-opacity));
  border-bottom-color: rgb(238 238 238 / var(--tw-border-opacity));
}
.lf{
  --tw-bg-opacity: 1;
  background-color: rgb(24 28 49 / var(--tw-bg-opacity));
}
.mf{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.nf{
  --tw-bg-opacity: 1;
  background-color: rgb(251 251 251 / var(--tw-bg-opacity));
}
.of{
  --tw-bg-opacity: 1;
  background-color: rgb(0 107 255 / var(--tw-bg-opacity));
}
.pf{
  --tw-bg-opacity: 1;
  background-color: rgb(32 197 168 / var(--tw-bg-opacity));
}
.qf{
  --tw-bg-opacity: 1;
  background-color: rgb(255 219 38 / var(--tw-bg-opacity));
}
.rf{
  --tw-bg-opacity: 1;
  background-color: rgb(98 232 136 / var(--tw-bg-opacity));
}
.sf{
  --tw-bg-opacity: 1;
  background-color: rgb(239 92 0 / var(--tw-bg-opacity));
}
.tf{
  --tw-bg-opacity: 1;
  background-color: rgb(1 107 255 / var(--tw-bg-opacity));
}
.uf{
  background-color: transparent;
}
.vf{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.wf{
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}
.xf{
  --tw-bg-opacity: 1;
  background-color: rgb(237 245 255 / var(--tw-bg-opacity));
}
.yf{
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.zf{
  --tw-gradient-from: #F8F9FF;
  --tw-gradient-to: rgb(248 249 255 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
._f{
  --tw-gradient-to: #DEE7FF;
}
.ag{
  fill: #FFFFFF;
}
.bg{
  fill: #181C31;
}
.cg{
  fill: #D1D8E0;
}
.dg{
  fill: #006BFF;
}
.eg{
  fill: #757693;
}
.fg{
  fill: #757693;
}
.gg{
  stroke: currentColor;
}
.hg{
  padding: 1rem;
}
.ig{
  padding: 0.875rem;
}
.jg{
  padding: 0.75rem;
}
.kg{
  padding: 1.25rem;
}
.lg{
  padding: 2.25rem;
}
.mg{
  padding: 1.875rem;
}
.ng{
  padding: 1.75rem;
}
.og{
  padding: 1.125rem;
}
.pg{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.qg{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.rg{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.rg-cta{
  padding-bottom: 5rem;
}
.rg-features{
  padding-top: 5rem;
}
.sg{
  padding-left: 1rem;
  padding-right: 1rem;
}
.tg{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ug{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.vg{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.wg{
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.xg{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.yg{
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}
.zg{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
._g{
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}
.ah{
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}
.bh{
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}
.ch{
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.dh{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.eh{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.fh{
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.gh{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.hh{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.ih{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.jh{
  padding-top: 11.25rem;
}
.kh{
  padding-bottom: 2.25rem;
}
.lh{
  padding-top: 8.75rem;
}
.mh{
  padding-bottom: 5rem;
}
.nh{
  padding-top: 4.625rem;
}
.oh{
  padding-top: 4.5rem;
}
.ph{
  padding-bottom: 5.625rem;
}
.qh{
  padding-bottom: 5.5rem;
}
.rh{
  padding-top: 1.875rem;
}
.sh{
  padding-top: 1.75rem;
}
.th{
  padding-bottom: 1.5rem;
}
.uh{
  padding-top: 3.75rem;
}
.vh{
  padding-top: 2.25rem;
}
.wh{
  padding-bottom: 3.125rem;
}
.xh{
  padding-bottom: 3rem;
}
.yh{
  padding-top: 2.5rem;
}
.zh{
  padding-bottom: 0.875rem;
}
._h{
  padding-bottom: 0.75rem;
}
.ai{
  padding-top: 8.125rem;
}
.bi{
  padding-top: 8rem;
}
.ci{
  padding-bottom: 1.875rem;
}
.di{
  padding-bottom: 1.75rem;
}
.ei{
  text-align: center;
}
.fi{
  font-size: 1.5rem;
  line-height: 2rem;
}
.gi{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.hi{
  font-size: 0.75rem;
  line-height: 1rem;
}
.ii{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.ji{
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.ki{
  font-size: 12px;
  line-height: 20px;
}
.li{
  font-size: 20px;
  line-height: 32px;
}
.mi{
  font-size: 18px;
  line-height: 26px;
}
.ni{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.oi{
  font-size: 16px;
  line-height: 26px;
}
.pi{
  font-size: 22px;
  line-height: 35px;
}
.qi{
  font-size: 14px;
  line-height: 22px;
}
.ri{
  font-size: 26px;
  line-height: 32px;
}
.si{
  font-size: 24px;
  line-height: 32px;
}
.ti{
  font-weight: 600;
}
.ui{
  font-weight: 500;
}
.vi{
  font-weight: 700;
}
.wi{
  text-transform: uppercase;
}
.xi{
  --tw-text-opacity: 1;
  color: rgb(24 28 49 / var(--tw-text-opacity));
}
.yi{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.zi{
  --tw-text-opacity: 1;
  color: rgb(117 118 147 / var(--tw-text-opacity));
}
._i{
  --tw-text-opacity: 1;
  color: rgb(0 107 255 / var(--tw-text-opacity));
}
.aj{
  opacity: .65;
}
.bj{
  opacity: 0.5;
}
.cj{
  opacity: 0.4;
}
.dj{
  opacity: 0;
}
.ej{
  --tw-shadow: 0px 12px 120px rgba(45, 74, 170, 0.06);
  --tw-shadow-colored: 0px 12px 120px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.fj{
  --tw-shadow: 0px 2px 19px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0px 2px 19px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.gj{
  --tw-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0px 2px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hj{
  --tw-shadow: 0px 2px 10px rgba(122, 135, 167, 0.05);
  --tw-shadow-colored: 0px 2px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.ij{
  --tw-shadow: 0px 10px 120px 0px rgba(45, 74, 170, 0.1);
  --tw-shadow-colored: 0px 10px 120px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.jj{
  --tw-shadow: 0px 6px 90px rgba(8, 14, 40, 0.04);
  --tw-shadow-colored: 0px 6px 90px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.kj{
  --tw-shadow: 0px 8px 24px rgba(45, 74, 170, 0.08);
  --tw-shadow-colored: 0px 8px 24px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.lj{
  --tw-shadow: 0px 30px 50px rgba(45, 74, 170, 0.1);
  --tw-shadow-colored: 0px 30px 50px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.mj{
  --tw-shadow: 0px 12px 30px rgba(45, 74, 170, 0.06);
  --tw-shadow-colored: 0px 12px 30px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.nj{
  --tw-shadow: 0px 8px 30px rgba(45, 74, 170, 0.06);
  --tw-shadow-colored: 0px 8px 30px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.oj{
  --tw-shadow: 0px 6px 20px rgba(45, 74, 170, 0.05);
  --tw-shadow-colored: 0px 6px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pj{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.qj{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.rj{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.sj{
  transition-delay: 0;
}
.tj{
  transition-delay: 300ms;
}
.uj{
  transition-delay: 150ms;
}
.vj{
  transition-delay: 200ms;
}
.wj{
  transition-delay: 500ms;
}
.xj{
  transition-duration: 300ms;
}
.yj{
  transition-duration: 100ms;
}
.zj{
  transition-duration: 200ms;
}
._j{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Chrome, Safari and Opera */

/* third-party libraries CSS */

.testimonial-01 .swiper-pagination-bullet{
  height: 0.625rem;
  width: 0.625rem;
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity));
  opacity: 1;
}
.testimonial-01 .swiper-pagination-bullet-active{
  width: 1.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 107 255 / var(--tw-bg-opacity));
}

#supportCheckbox:checked ~ div span{
  opacity: 1;
}

.ak::before{
  content: var(--tw-content);
  position: absolute;
}

.bk::before{
  content: var(--tw-content);
  bottom: 0.625rem;
}

.ck::before{
  content: var(--tw-content);
  left: 0px;
}

.dk::before{
  content: var(--tw-content);
  bottom: 0.5rem;
}

.ek::before{
  content: var(--tw-content);
  bottom: 0px;
}

.before\:-ud-z-1::before{
  content: var(--tw-content);
  z-index: -1;
}

.fk::before{
  content: var(--tw-content);
  height: 0.75rem;
}

.gk::before{
  content: var(--tw-content);
  height: 0.25rem;
}

.hk::before{
  content: var(--tw-content);
  width: 100%;
}

.ik::before{
  content: var(--tw-content);
  border-top-left-radius: 4px;
}

.jk::before{
  content: var(--tw-content);
  border-top-right-radius: 4px;
}

.kk::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(173 255 248 / var(--tw-bg-opacity));
}

.lk::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 234 194 / var(--tw-bg-opacity));
}

.mk::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 107 255 / var(--tw-bg-opacity));
}

.nk:last-child{
  margin-bottom: 0px;
}

.ok:last-child{
  border-width: 0px;
}

.pk:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(44 49 73 / var(--tw-bg-opacity));
}

.qk:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 107 255 / var(--tw-bg-opacity));
}

.rk:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 99 236 / var(--tw-bg-opacity));
}

.sk:hover{
  fill: #006BFF;
}

.tk:hover{
  --tw-text-opacity: 1;
  color: rgb(0 107 255 / var(--tw-text-opacity));
}

.uk:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.vk:hover{
  opacity: 1;
}

.wk:hover{
  --tw-shadow: 0px 6px 90px rgba(8, 14, 40, 0.1);
  --tw-shadow-colored: 0px 6px 90px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.xk:focus{
  --tw-border-opacity: 1;
  border-color: rgb(0 107 255 / var(--tw-border-opacity));
}

.yk:focus{
  --tw-border-opacity: 1;
  border-color: rgb(117 118 147 / var(--tw-border-opacity));
}

.zk:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

._k:focus::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(24 28 49 / var(--tw-text-opacity));
}

._k:focus:-ms-input-placeholder{
  --tw-text-opacity: 1;
  color: rgb(24 28 49 / var(--tw-text-opacity));
}

._k:focus::placeholder{
  --tw-text-opacity: 1;
  color: rgb(24 28 49 / var(--tw-text-opacity));
}

.al:focus-visible{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.b:hover .bl{
  fill: #FFFFFF;
}

.b:hover .cl{
  fill: #006BFF;
}

.a .dl{
  display: block;
}

.a .el{
  display: none;
}

.a .fl{
  border-width: 1px;
}

.a .gl{
  --tw-border-opacity: 1;
  border-color: rgb(45 47 64 / var(--tw-border-opacity));
}

.a .hl{
  --tw-border-opacity: 1;
  border-top-color: rgb(45 47 64 / var(--tw-border-opacity));
  border-bottom-color: rgb(45 47 64 / var(--tw-border-opacity));
}

.a .il{
  --tw-bg-opacity: 1;
  background-color: rgb(41 46 69 / var(--tw-bg-opacity));
}

.a .jl{
  --tw-bg-opacity: 1;
  background-color: rgb(28 33 54 / var(--tw-bg-opacity));
}

.a .kl{
  --tw-bg-opacity: 1;
  background-color: rgb(24 28 49 / var(--tw-bg-opacity));
}

.a .ll{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.a .ml{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(24 28 49 / var(--tw-bg-opacity)) !important;
}

.a .nl{
  --tw-bg-opacity: 1;
  background-color: rgb(45 47 64 / var(--tw-bg-opacity));
}

.a .ol{
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.a .pl{
  --tw-gradient-from: transparent;
  --tw-gradient-to: rgb(0 0 0 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.a .ql{
  --tw-gradient-from: #24283E;
  --tw-gradient-to: rgb(36 40 62 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.a .rl{
  --tw-gradient-to: transparent;
}

.a .sl{
  --tw-gradient-to: #252A42;
}

.a .tl{
  fill: #FFFFFF;
}

.a .ul{
  stroke: #2D2F40;
}

.a .vl{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.a .wl{
  --tw-text-opacity: 1;
  color: rgb(24 28 49 / var(--tw-text-opacity));
}

.a .xl{
  --tw-text-opacity: 1;
  color: rgb(153 154 161 / var(--tw-text-opacity));
}

.a .yl{
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.a .zl{
  --tw-shadow: 0px 8px 24px rgba(10, 16, 35, 0.08);
  --tw-shadow-colored: 0px 8px 24px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.a ._l::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(70 73 90 / var(--tw-bg-opacity));
}

.a .am:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 107 255 / var(--tw-bg-opacity));
}

.a .bm:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(37 42 66 / var(--tw-bg-opacity));
}

.a .cm:hover{
  fill: #006BFF;
}

.a .dm:hover{
  --tw-text-opacity: 1;
  color: rgb(0 107 255 / var(--tw-text-opacity));
}

.a .em:focus{
  --tw-border-opacity: 1;
  border-color: rgb(0 107 255 / var(--tw-border-opacity));
}

.a .fm:focus{
  --tw-border-opacity: 1;
  border-color: rgb(153 154 161 / var(--tw-border-opacity));
}

.a .gm:focus::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.a .gm:focus:-ms-input-placeholder{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.a .gm:focus::placeholder{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px){

  .hm{
    display: block;
  }

  .im{
    height: 2.5rem;
  }

  .jm{
    width: 2.5rem;
  }

  .km\/2{
    width: 50%;
  }

  .km\/2_book{
    width: 50%;
  }

  .lm{
    width: auto;
  }

  .mm\/5{
    width: 60%;
  }

  .nm\/5{
    width: 80%;
  }

  .om{
    width: 70%;
  }

  .pm\/5{
    width: 40%;
  }

  .qm{
    width: 45%;
  }

  .rm{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .tm{
    flex-direction: row;
  }

  .um{
    flex-wrap: nowrap;
  }

  .vm{
    align-items: center;
  }

  .wm{
    justify-content: space-between;
  }

  .xm{
    gap: 0px;
  }

  .ym{
    gap: 2.5rem;
  }

  .zm{
    border-width: 0px;
  }

  ._m{
    padding: 2.5rem;
  }

  .an{
    padding: 1.875rem;
  }

  .bn{
    padding: 1.75rem;
  }

  .cn{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .dn{
    padding-left: 0px;
    padding-right: 0px;
  }

  .en{
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }

  .fn{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .gn{
    padding-top: 10rem;
  }

  .hn{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .in{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px){

  .jn{
    visibility: visible;
  }

  .kn{
    position: static;
  }

  .ln{
    left: 0px;
  }

  .mn{
    margin-top: 3.75rem;
  }

  .nn{
    margin-bottom: 4.375rem;
  }

  .on{
    margin-bottom: 4.25rem;
  }

  .pn{
    margin-bottom: 3.125rem;
  }

  .qn{
    margin-bottom: 3rem;
  }

  .rn{
    margin-top: 0px;
  }

  .sn{
    display: block;
  }

  .tn{
    display: flex;
  }

  .un{
    display: none;
  }

  .vn{
    height: auto;
  }

  .wn{
    width: 32%;
  }

  .xn\/3{
    width: 66.666667%;
  }

  .yn{
    width: auto;
  }

  .zn\/12{
    width: 91.666667%;
  }

  ._n\/2{
    width: 50%;
  }

  .ao{
    width: 45%;
  }

  ._n\/3{
    width: 33.333333%;
  }

  .bo\/4{
    width: 75%;
  }

  .co{
    width: 26%;
  }

  ._n\/4{
    width: 25%;
  }

  .bo\/5{
    width: 60%;
  }

  .do{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .eo{
    flex-direction: row;
  }

  .fo{
    flex-wrap: nowrap;
  }

  .go{
    align-items: center;
  }

  .ho{
    justify-content: space-between;
  }

  .io{
    gap: 2rem;
  }

  .jo{
    gap: 3.125rem;
  }

  .ko{
    gap: 3rem;
  }

  .lo{
    gap: 8.125rem;
  }

  .mo{
    gap: 8rem;
  }

  .no{
    gap: 1.875rem;
  }

  .oo{
    gap: 1.75rem;
  }

  .po{
    gap: 4.75rem;
  }

  .qo{
    gap: 10.625rem;
  }

  .ro{
    gap: 3.5rem;
  }

  .so{
    gap: 0px;
  }

  .to{
    gap: 2.5rem;
  }

  .uo{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .vo{
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }

  .wo{
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  .xo{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .yo{
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .zo{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  ._o{
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  .ap{
    padding-top: 12.5rem;
  }

  .bp{
    padding-bottom: 8.125rem;
  }

  .cp{
    padding-bottom: 8rem;
  }

  .dp{
    padding-top: 11.25rem;
  }

  .ep{
    padding-bottom: 6.25rem;
  }

  .fp{
    padding-bottom: 5.625rem;
  }

  .gp{
    padding-bottom: 5.5rem;
  }

  .hp{
    padding-top: 5rem;
  }

  .ip{
    padding-top: 3.75rem;
  }

  .jp{
    font-size: 22px;
    line-height: 35px;
  }
}

@media (min-width: 1280px){

  .kp{
    margin-top: 5rem;
  }

  .lp{
    margin-bottom: 5.375rem;
  }

  .mp{
    margin-bottom: 5.25rem;
  }

  .np{
    display: block;
  }

  .op\/2{
    width: 50%;
  }

  .pp\/12{
    width: 58.333333%;
  }

  .qp{
    width: 46%;
  }

  .rp{
    flex-wrap: nowrap;
  }

  .sp{
    justify-content: space-between;
  }

  .tp{
    gap: 2.5rem;
  }

  .up{
    gap: 3.125rem;
  }

  .vp{
    gap: 3rem;
  }

  .wp{
    gap: 8.125rem;
  }

  .xp{
    gap: 8rem;
  }

  .yp{
    gap: 7.25rem;
  }

  .zp{
    gap: 5rem;
  }

  ._p{
    gap: 3.75rem;
  }

  .aq{
    padding: 3.125rem;
  }

  .bq{
    padding: 3rem;
  }

  .cq{
    padding: 3.75rem;
  }

  .dq{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .eq{
    padding-left: 0px;
    padding-right: 0px;
  }

  .fq{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .gq{
    padding-left: 3.375rem;
    padding-right: 3.375rem;
  }

  .hq{
    padding-left: 3.25rem;
    padding-right: 3.25rem;
  }

  .iq{
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
  }

  .jq{
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
  }

  .kq{
    padding-left: 4.375rem;
    padding-right: 4.375rem;
  }

  .lq{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .mq{
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }

  .nq{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .oq{
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  .pq{
    padding-top: 13.75rem;
  }

  .qq{
    padding-bottom: 9.375rem;
  }

  .rq{
    padding-top: 12.5rem;
  }

  .sq{
    padding-bottom: 7.5rem;
  }

  .tq{
    padding-top: 11.5rem;
  }

  .uq{
    padding-bottom: 6.25rem;
  }

  .vq{
    padding-top: 6.25rem;
  }

  .wq{
    padding-top: 5rem;
  }

  .xq{
    padding-top: 3.75rem;
  }

  .yq{
    font-size: 24px;
    line-height: 32px;
  }

  .zq{
    font-size: 44px;
    line-height: 58px;
  }

  ._q{
    font-size: 26px;
    line-height: 32px;
  }

  .ar{
    font-size: 16px;
    line-height: 26px;
  }

  .br{
    font-size: 40px;
    line-height: 52px;
  }

  .cr{
    font-size: 44px;
    line-height: 55px;
  }

  .dr{
    font-size: 34px;
    line-height: 48px;
  }
}

@media (min-width: 1536px){

  .\32xl\:-ud-mr-7\.5{
    margin-right: -1.875rem;
  }

  .\32xl\:-ud-mr-7{
    margin-right: -1.75rem;
  }

  .\32xl\:ud-gap-6{
    gap: 1.5rem;
  }

  .\32xl\:ud-gap-7\.5{
    gap: 1.875rem;
  }

  .\32xl\:ud-gap-7{
    gap: 1.75rem;
  }

  .\32xl\:ud-px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .\32xl\:ud-text-sectiontitle2{
    font-size: 40px;
    line-height: 52px;
  }
}

.svg-logo{
  width: 200px;
  height: 60px;

}

.svg-logo-footer{
  width: 200px;
  height: 35px;

}
